section {
  background-color: lightgrey;

  /* padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 25px; */

  /* padding: 10px 15px 20px 25px; */

  /* padding: 10px 20px; */

  padding: 25px;
}
