/* Relative Units */

.box {
  background-color: #ffc0d3;
  height: 50vh;
  width: 50vw;
}

section {
  margin-top: 10px;
  background-color: #ff5c8d;
  height: 250px;
  width: 600px;
}

.inner-box {
  background-color: #fdeff4;
  height: 50%;
  width: 50%;
}
