.wrapper {
  width: 1000px;
  height: 500px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.overlay {
  position: absolute;

  top: 0;
  bottom: 100%;
  width: 100%;
  height: 0;
  overflow: hidden;

  transition: all 0.5s ease-in;
  transition: all 0.5s ease-out;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out 2s;
  transition: bottom, height 0.5s ease-in-out;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.wrapper:hover .overlay {
  bottom: 0;
  height: 100%;
}
