* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 15px;
  background-color: #336;
  color: white;
  margin: 5px;
}

ul {
  display: flex;

  flex-direction: row; /* Default */

  flex-direction: column;

  flex-direction: row-reverse;

  flex-direction: column-reverse;
}
