* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 15px;
  background-color: #336;
  color: white;
}

ul {
  display: flex;
  gap: 5px;
}

li:first-child {
  flex-grow: 1;
}

li:nth-child(2) {
  flex-grow: 2;
}

li:nth-child(3) {
  flex-grow: 3;
}
