* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.item {
  font-size: 20px;
  padding: 20px;
  background-color: #dde04d;
  color: white;
}

.container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 150px);

  background-color: lightseagreen;

  /* <align-items> <justify-items> */

  place-items: center center;

  place-items: end start;

  place-items: start end;

  place-items: start start;

  place-items: end end;
}
