* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.item {
  font-size: 20px;
  padding: 20px;
  background-color: #dde04d;
  color: white;
}

.container {
  display: grid;

  grid-template-columns: repeat(5, [col-start] 1fr [col-end]);
  grid-template-rows: repeat(4, [row-start] 1fr [row-end]);

  gap: 5px;

  height: 100vh;
  background-color: lightseagreen;
}

.item-8 {
  background-color: #ffd32d;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;
}

.item-19 {
  background-color: lightcoral;

  grid-column-start: col-start 3;
  grid-column-end: col-end 3;

  grid-row-start: row-start 1;
  grid-row-end: row-end 1;
}
