* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.item {
  list-style: none;
  font-size: 20px;
  padding: 10px;
  background-color: #e04db0;
  color: #fff;
  text-align: center;
}

.container {
  display: grid;
  gap: 5px;

  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(3, 100px);

  grid-auto-flow: column;

  grid-auto-columns: 400px;
}
